---
layout: layouts/page.html
title: Blog
description: Notes on health product design from Oli Batstone.
---
<article class="page-content">
  <h1>Blog</h1>
  <p>Practical notes on health product design: research, process, tools and decisions.</p>

  {% if collections.blog.size > 0 %}
    <ol class="blog-list" reversed>
      {% for post in collections.blog %}
        <li class="blog-list-item">
          <a href="{{ post.url }}" class="blog-list-link">
            <span class="blog-list-title">{{ post.data.title }}</span>
            <time class="blog-list-date" datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%d %B %Y" }}</time>
            {% if post.data.description %}<span class="blog-list-description">{{ post.data.description }}</span>{% endif %}
          </a>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="blog-empty">No posts yet. Subscribe below to be the first to know when I publish.</p>
  {% endif %}

  {% include "partials/newsletter-signup.html" %}
</article>
