<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/bundle.css">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>
<body>
    <header>
        <nav><a class="button" href="/">← Home</a></nav>
        <h1>{{ title }}</h1>
    </header>
    <main>
        {{ content}}
    </main>
    <footer>
        <h2>More work</h2>
        {%- for post in collections.post reversed -%}
            {% if post.url != page.url %}
                <a class="small-thumbnail" href="{{ post.url }}">
                    <img src="{{ post.data.image }}">
                    <p><span class="title">{{ post.data.title }}. </span>{{ post.data.description }} →</p>
                </a>
            {% endif %}
        {%- endfor -%}

        <a class="button" href="/">← Home</a>

        <a class="button" href="#">↑ Back to top</a>

        <section class="legals">
            <p>Designed and built by me with Eleventy.js.</p>
            <p>© Oli Batstone 2025. All rights reserved.</p>
        </section>

    </footer>
<!-- 100% privacy-first analytics -->
<script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
</body>
</html>