<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% if title %}{{ title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{{ description or site.description }}">

<meta property="og:title" content="{% if title %}{{ title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{{ description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ url }}">
<meta property="og:image" content="{{ image }}">
<meta property="og:site_name" content="Oli Batstone">

<meta name="author" content="Oli Batstone">
<meta name="publish_date" property="og:publish_date" content="2025-06-01">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Example Site Title">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="{{ image }}" />

<link rel="icon" type="image/x-icon" href="/assets/img/profile/favicon.ico">
<link rel="preload" as="font" href="/fonts/BebasNeue-alpha.woff2" type="font/woff2" crossorigin>
<link rel="stylesheet" href="/styles/style.css">
<link rel="preload" href="/fonts/Inter.woff2" as="font" type="font/woff2" crossorigin>