<ul>
  {% for work in collections.work %}
    {% if work.url != page.url %}
      <li>
        <a class="small-thumbnail" href="{{ work.url }}">
          <img src="{{ work.data.image }}" alt="""" loading="eager" decoding="async">
          <p><span class="title">{{ work.data.title }}. </span>{{ work.data.description }} →</p>
          <ul class="pills" aria-label="metadata" role="list">
          {% for p in work.data.platform %}<li>{{ p }}</li>{% endfor %}
          </ul>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>